.advantages__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--main--title);
}

.advantages {
    display: flex;
}

.advantages__item {
    width: 270px;
    &+& {
            margin-left: 30px;
        }
}

.advantages__icon-container {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--team--background);
    border-radius: 4px;
}

.advantages__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text--color);
}