

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 94px 0;
}

.menu-list__link--current {
    color: var(--hover--color);

}

.section--no-padding-top {
    padding-top: 0;
}
.section--other-background {
    background-color: var(--team--background);
}
 
.hero-btn,
.hero-portfolio-btn {
    cursor: pointer
}  